body,div,p,table{
    padding:0;
    margin:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    font-weight: 600;
    background: #282726
}
strong{
    font-size: 1.3em;
    font-weight: 900;
}

.left-pane{
    position: relative;
    /* top: 1.2vw; */
    width:20%;
    float: left;
    height:100vh;
    background-color: #a7414a;
    /* border-right:5px solid #a7414a; */
    margin-right:4%;
}
.left-pane .left-heading {
    font-size: 2em;
    text-align: center;
    display: inline-block;
    width:100%;
    padding:0;
    margin:0;
    overflow:auto;
    height:10vh;
    background-color: #563838;
}
.left-pane .left-heading .left-text{
    display: inline;
    line-height: 10vh;
    color:white;
    text-shadow: 1px 0px 3px #a7414a;
    margin:0;
    padding:0;
}

.right-pane{
    margin-left:4%;
    float:left;
    width:72%;
    height:100vh;
}

.button-holder{
    /* margin-top:2.5%; */
    height:10vh;
    padding-top:2.5vh;
    box-sizing: border-box;
    width:60%;
}
.option,.currency, .fees-btn{
    display: inline;
    
}
.option p, .currency p, .fees-btn p{
    text-align: center;
    width:3.3em;
    font-size: 1.3em;
    display: inline-block;
    box-sizing: border-box;
    padding:0.5%;
    margin:0px;
    color: #fff;
    background: linear-gradient(#6a8a82, #1e5157);
    border: 3px solid #262728;
    border-radius:10%;
}
.fees-btn{
    margin-right:5%;
}
.fees-btn p.fees-option{
    width: 5em;
}
.fees-btn p.highlight{
    width:6em;
}
.option {
    margin-right:5%;

}

.button-holder .highlight{
    width:5em;
    color: #333;
    border: 3px solid #fa2;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    text-shadow: 0px 1px 0p #ffee66;
}

.button-holder .highlight:hover{
    border: 3px solid #fa2;
    cursor: default;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
}

.button-holder p:hover{
    border: 3px solid black;
    background: linear-gradient(#6a8a82,#5fa4aa);
    cursor: pointer;
}
/*  */

table,tr,th,td{
    margin:0;
    padding:0;
   
    
}
table{
    width:60%;
    border:5px solid #565758;
    border-radius: 50%;
    border-collapse: collapse;
}
table .block{
    display: block;
}
tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}
tr{width:100%;}
td{
    box-sizing: border-box;
    padding:1% 0 1% 1%;
    width:10%;
    padding-bottom: 12.85%;
    height: 0;
    position: relative;
    overflow: hidden;
}
.data-holder{
    position: absolute;
}
.data .data-holder span:nth-of-type(1){
    font-size: 1.5em;
}

.desc{
    padding-left:0;
    padding-right:0;
    background:#888;
    color:#fff;
}
.desc .data-holder{
    display: block;
    width:100%;
    padding:0;
    margin:0;
}
.desc .data-holder .block{
    /* text-transform: uppercase; */
    display: block;
    width:100%;
    /* letter-spacing: 0.1em; */
    /* transform: scaleY(1.3); */
    /* line-height: 10vh; */
    text-align:center;
    font-size: 1em;
    text-shadow: 1px 0px 0px #333, -1px 0px 0px #333,0px 1px 0px #333,0px -1px 0px #333 ;
}
.data{
    /* background: linear-gradient(#efefef, #eee ,#efefef ); */
    background: #dedede;
    color:#262728;
}
@media only screen and (max-width: 960px){
    table{
        width: 60%;
    }
    td{
        width:8.57%;
        padding-bottom: 12.85%;
    }
}
@media only screen and (max-width: 700px){
    table{
        width: 80%;
    }
    td{
        width:11.42%;
        padding-bottom: 11.42%;
    }
}
@media only screen and (max-width: 480px){
    table{
        width: 90%;
    }
    td{
        width:12.85%;
        padding-bottom: 12.85%;
    }
}
.null, .null-col{
    background:#888;
}
.null span, .null-col span{
    color:#888;
}
.red{
    color: #bd0f0f;
}
.green{
   color: #2e991f;
}




/* loader */




/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}



/* gear */

/*
.settings, .content, .fees, .update, .ok{
    display: inline;
}
*/
.settings{
    position: relative;
    float:right;
    display: inline;
}
.gear {
    z-index: 1;
    margin-left:2em;
	display: inline-block;
    position: relative;
    top:-0.5vh;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 3px #1e5157);
	-webkit-filter: drop-shadow(1px 1px 3px #1e5157);
	background-position: 50% 50%;
    vertical-align: middle;
/*    animation: rotBack 0.5s ease-in-out forwards; */
/*    animation-delay: 0.2s;*/
}
.gear:before, .gear:after {
	position: absolute;
	border-radius: 50%;
	content: '';
}
.rotBack{
    animation: rotBack 0.5s ease-in-out forwards; 
/*    animation-delay: 0.2s;*/
}
.content{
    /* display: none; */
    width:10em;
    background: #777;
    border-radius: 5%;
    color:white;
    position: absolute;
    padding: 2em;
    left:1.6em;
    right:0em;
    z-index: 1;
    display: none;
    margin-left:1em;
}
.content div{
    display: table;
    margin: 0.3em auto;
}
.content .fees div:first-child{
    font-size: 1.1em;
    padding-bottom: 0.5em;
}
.content .update div:first-child{
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.1em;
}


.rot{
    cursor: pointer;
    animation: rot 0.5s ease-in-out forwards; 
}

.g4 {
	width: 2.4em; height: 2.4em;
	border: dotted 0.4em #1e5157;
}
.g4:before {
	left: 0;
	width: 2.4em; height: 2.4em;
	background: #1e5157;
	background: linear-gradient(#1e5157, #5fa4aa,#1e5157)
}
.g4:after {
	top: .9em;left: .9em;
	width: .6em; height: .6em;
	background: lightskyblue;
	background: linear-gradient(dodgerblue, lightskyblue, dodgerblue);
}

@keyframes rot { to {transform: rotate(360deg); } }
@keyframes rotBack { to {transform: rotate(-360deg); } }



input{
/*    text-align: center;*/
}
.fees input{
    width:6em;
}
.fees{
/*    border-bottom: 1px solid #5fa4aa;*/
}
#updateInput{
    width:2.5em;
}
.update{
/*    border-bottom: 1px solid #5fa4aa;*/
}

button#ok{
    margin-left: 0.5em;
    font-size: 1.2em;
    padding: 0.2em;
    margin: auto;
    margin-top: 1em;
    width: 4em;
    color: #fff;
    background: linear-gradient( #5fa4aa,#1e5157);
    border-radius: 10%;
    border: 1px solid #1e5157;
}
button#ok:hover{
    background: linear-gradient( #1e5157,#5fa4aa);
    border-radius: 0%;
    transition: background-color 1s linear;
    cursor: pointer;
}
button#ok:active{
    position: relative;
    top:0.2em;
}

@keyframes visib {
    from {
      transform: scale(0);
    }
/*
    70%{
        transform: scale(1.1);
    }
    80%{
        transform: scale(0.9);
    }
*/
    to {
      transform: scale(1);
    }
}

@keyframes visibBack {
    from {
      transform: scale(1);
    }
/*
    20%{
        transform: scale(1.1);
    }
    30%{
        transform: scale(0.9);
    }
*/
    to {
      transform: scale(0);
    }
}